body {
  background-color: #2f2fe0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container1 {
  position: relative;
  background-color: #e3688b;
  width: 28rem;
  height: 40rem;
  margin-top: 3rem;
  margin-left: 13rem;
  border-radius: 5px;
  -webkit-box-shadow: -2px 6px 20px #08087c;
          box-shadow: -2px 6px 20px #08087c;
}

.container1 img {
  width: 6rem;
  height: 2rem;
  margin-top: 2rem;
  margin-left: 1.8rem;
}

.container1 .parag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container1 .parag p {
  font-family: sans-serif;
  font-size: 270px;
  color: #e396ac;
  font-weight: 700;
  margin-top: -2.5rem;
}

.container1 .parag img {
  position: absolute;
  width: 32rem;
  height: 28rem;
  margin-top: 5rem;
  margin-left: -7rem;
}

.container1 .plus1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #2f2fe0;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -25rem;
  margin-left: 3rem;
  font-size: 20px;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
}

.container1 .plus2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #2f2fe0;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -14.5rem;
  margin-left: 9rem;
  font-size: 20px;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
}

.container1 .plus3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #2f2fe0;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -12rem;
  margin-left: 20rem;
  font-size: 20px;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
}

.container1 .plus1:hover {
  cursor: pointer;
  background-color: #643d74;
}

.container1 .plus2:hover {
  cursor: pointer;
  background-color: #643d74;
}

.container1 .plus3:hover {
  cursor: pointer;
  background-color: #643d74;
}

.container1 .circle-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 9rem;
  margin-top: -3rem;
}

.container1 .circle-box .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e396ac;
  margin-left: 1.5rem;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
}

.container1 .circle-box .circle-white {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: wheat;
  margin-left: 1.5rem;
}

.container1 .circle-box .circle:hover {
  cursor: pointer;
  background-color: wheat;
}

.container2 {
  position: absolute;
  width: 31rem;
  height: 34rem;
  background-color: white;
  margin-top: -37rem;
  margin-left: 41rem;
  border-radius: 0 5px 5px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3rem;
  font-family: sans-serif;
}

.container2 h1 {
  font-weight: 800;
}

.container2 .flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -1rem;
}

.container2 .flex-box h4 {
  margin-left: 1rem;
  color: gray;
}

.container2 .flex-box-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: gray;
}

.container2 .flex-box-size p {
  margin-right: 3rem;
  font-size: 25px;
  margin-top: 1rem;
}

.container2 .flex-box-size .size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: .3rem;
  font-size: 25px;
  width: 50px;
  height: 50px;
  margin-top: .3rem;
  border-radius: 50%;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

.container2 .flex-box-size .size:hover {
  cursor: pointer;
  border: 1px solid #bd4c4c;
  color: #bd4c4c;
}

.container2 .flex-box-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container2 .flex-box-amount p {
  font-size: 25px;
  color: gray;
  margin-top: -.5rem;
  margin-right: 2.5rem;
}

.container2 .flex-box-amount i {
  font-size: 20px;
  color: palevioletred;
  margin-top: -.2rem;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
}

.container2 .flex-box-amount i:hover {
  cursor: pointer;
  color: #db2b69;
}

.container2 .flex-box-amount .two {
  font-size: 25px;
  margin: -.5rem .8rem;
}

.space {
  width: 20rem;
  height: 15rem;
}

button {
  width: 18rem;
  height: 3.5rem;
  background-color: #e42c2c;
  color: #fff;
  font-size: 20px;
  font-family: sans-serif;
  border: none;
  border-radius: 5px;
  margin-top: 1.5rem;
  -webkit-box-shadow: 3px 6px 20px #bd4c4c;
          box-shadow: 3px 6px 20px #bd4c4c;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
}

button:hover {
  cursor: pointer;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  background-color: #e3688b;
}
/*# sourceMappingURL=style.css.map */